* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

/*  Header */

.header {
  width: 1440px;
  height: 615px;
  padding-top: 117px;
  padding-left: 100px;
  margin: 0 auto;
  padding-right: 100px;
}

.header__container {
  width: 1240px;
  height: 505px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}
.header__flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header__container a {
  width: 105px;
  text-decoration: none;
  border-bottom: 3px solid #ffce50;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #363738;
  margin-left: 0;
}
.header__container p {
  width: 525px;
  color: #6b6b6c;

  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0;
  text-align: left;
}
.header__container h2 {
  width: 610px;
  margin-left: 0;
  font-family: "Exo 2";
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: #363738;
}

@media screen and (max-width: 768px) {
  .header {
    width: 690px;
    padding-top: 117px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__container {
    display: flex;

    gap: 44px;
    max-width: 690px;
    flex-direction: column;
  }
  .header__container h2 {
    font-size: 44px;
    width: 690px;
  }
  .header__container p {
    width: 690px;
    font-size: 16px;
    text-align: center;
  }
  .header__container a {
    text-align: center;
    margin-left: 297px;
    margin-bottom: 29px;
  }
  .header__container img {
    width: 690px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    max-width: 576px;
    padding-top: 75px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__container {
    max-width: 345px;
    display: flex;

    flex-direction: column;
  }

  .header__container h2 {
    font-size: 28px;
    max-width: 345px;
    margin-top: 0;
  }
  .header__container p {
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    width: 345px;
    color: #363738;
  }
  .header__flex {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .header__container a {
    text-align: center;
    margin-left: 0;
    margin-bottom: 8px;
  }
  .header__container img {
    width: 345px;
    margin-bottom: 60px;
  }
}

/* Servises */

.servises {
  width: 1240px;
  height: 341px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px #00000026;
  margin-top: 67px;
  padding-top: 40px;
  padding-left: 80px;
  margin-bottom: 50px;
  border-bottom: none;
}

.frame1 {
  width: 228px;
  height: 245px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.frame1 img {
  margin-left: 0;
}

.frame1 h4 {
  width: 228px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;

  text-align: left;
  color: #363738;
}

.frame1 p {
  width: 225px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-top: 16px;
}

.frame2 {
  width: 228px;
  height: 245px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.frame2 img {
  margin-left: 0;
}

.frame2 h4 {
  width: 228px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;

  text-align: left;
  color: #363738;
}

.frame2 p {
  width: 225px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-top: 16px;
}

.frame3 {
  width: 228px;
  height: 245px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.frame3 img {
  margin-left: 0;
}

.frame3 h4 {
  width: 228px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;

  text-align: left;
  color: #363738;
}

.frame3 p {
  width: 225px;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-top: 16px;
}

.rec {
  width: 1px;
  height: 261px;
  background-color: #d7d7dd;
  margin-left: 0;
}

.servises__flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .servises {
    margin-top: 360px;
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    box-shadow: none;
    margin-left: 20px;
  }
  .servises__flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .rec {
    display: none;
  }
  .frame1 {
    width: 690px;
    height: 164px;
    display: flex;
    gap: 32px;
    padding: 32px;

    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
  }
  .frame1 h4 {
    width: 357px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 27px;
  }
  .frame1 p {
    font-size: 16px;
    width: 391px;
    margin-top: 16px;
  }
  .fr1 {
    margin-top: -110px;
  }

  .frame2 {
    width: 690px;
    height: 164px;
    display: flex;
    padding: 32px;

    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
  }

  .frame2 h4 {
    width: 357px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
  }
  .frame2 p {
    font-size: 16px;
    width: 391px;
    margin-top: 16px;
  }
  .fr2 {
    margin-top: -110px;
  }

  .frame3 {
    width: 690px;
    height: 164px;
    display: flex;
    padding: 32px;

    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
  }

  .frame3 h4 {
    width: 357px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
  }
  .frame3 p {
    font-size: 16px;
    width: 391px;
    margin-top: 16px;
  }
  .fr3 {
    margin-top: -110px;
  }
}

@media screen and (max-width: 576px) {
  .servises {
    margin-top: 160px;
    margin-left: auto;

    max-width: 375px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 725px;
    margin-left: 90px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
  }

  .servises__flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .frame1 {
    width: 286px;
    height: 176px;
    margin-left: -58px;
    padding-left: 32px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 8px;
  }

  .frame1 img {
    width: 68px;
    height: 68px;
  }

  .frame1 p {
    font-size: 15px;
    width: 286px;
    line-height: 22.5px;
  }
  .frame1 h4 {
    width: 218px;
    font-size: 18px;
    margin-left: 0;
    line-height: 24px;
  }
  .fr1 {
    margin-top: 0px;
    margin-left: 0;
  }

  .frame2 {
    width: 286px;
    height: 176px;
    box-shadow: none;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    margin-left: -58px;
  }

  .frame2 img {
    width: 68px;
    height: 68px;
  }
  .frame2 h4 {
    margin-left: 0;
    width: 218px;
    font-size: 18px;
    line-height: 24px;
  }
  .fr2 {
    margin-top: 0px;
    margin-left: 0;
  }
  .frame2 p {
    font-size: 15px;

    width: 286px;
  }

  .frame3 {
    width: 286px;
    height: 176px;

    margin-left: -58px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 10px;
  }

  .frame3 img {
    width: 68px;
    height: 68px;
  }
  .frame3 h4 {
    width: 218px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 0;
  }
  .frame3 p {
    font-size: 15px;

    width: 286px;
  }

  .fr3 {
    margin-top: 0px;
    margin-left: 0;
  }
}

/* /*  why us   * */

.whyus {
  width: 1440px;
  height: 750px;

  padding-right: 100px;

  margin-left: auto;
  margin-right: auto;
  border-bottom: none;
}

.whyus__container {
  margin-left: auto;
  margin-right: auto;
  width: 1242px;
  height: 748px;
  padding-left: 60px;
}

.why {
  width: 1240px;
  height: 453px;
  background-image: url("/images/carsbg.png");

  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
  margin-left: 90px;
  margin-right: auto;
}

.why h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  width: 362px;
  position: absolute;
  top: 178px;
  left: 90px;
  color: #fff;
}

.lorem span {
  width: 327px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  border-bottom: none;
}
.lorem p {
  width: 291px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  margin-left: 0;
  margin-top: 16px;
}
.box {
  display: flex;
  width: 447px;
  gap: 40px;
  margin-left: 60px;
}

.box1 {
  display: flex;
  width: 447px;
  gap: 40px;
  margin-left: 60px;
}
.box3 {
  display: flex;
  width: 447px;
  gap: 40px;
  margin-left: 60px;
}
.box4 {
  display: flex;
  width: 447px;
  gap: 40px;

  margin-left: 60px;
}

.flexca {
  display: flex;
  flex-direction: column;
  gap: 62px;
}

.forflex {
  margin-top: 73px;
  display: flex;
  gap: 140px;
}

@media screen and (max-width: 768px) {
  .whyus {
    margin-top: 260px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 19px;
  }
  .whyus__container {
    max-width: 729px;
    height: 930px;
  }

  .why {
    width: 729px;
    height: 383px;
    background-image: url("/images/w768bg.png");
  }
  .why img {
    width: 600px;
    height: 383px;
  }
  .why h2 {
    width: 288px;
    font-size: 44px;
    margin-top: -60px;
  }
  .forflex {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .lorem span {
    width: 331px;
    font-size: 20px;
    border-bottom: none;
  }

  .lorem p {
    width: 399.6px;

    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .whyus {
    margin-top: -140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    padding-left: 15px;
    margin-left: 60px;
    position: relative;
  }
  .whyus__container {
    max-width: 345px;
  }
  .box,
  .box1,
  .box3,
  .box4 {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 0;
  }
  .why {
    width: 345px;
    height: 64px;
    margin-bottom: 200px;
    margin-left: -60px;

    background-image: none;
  }
  .why img {
    display: none;
    background-color: #fff;
  }
  .why h2 {
    width: 345px;
    font-size: 28px;
    position: absolute;
    left: top;
    color: #363738;
    border-bottom: none;
  }

  .lorem span {
    width: 269px;
    font-size: 18px;
    margin-left: -50px;
    border-bottom: none;
  }
  .lorem p {
    margin-top: 6px;
    width: 269px;
    font-size: 15px;
    margin-left: -50px;
  }

  .box,
  .box1,
  .box3,
  .box4 {
    display: flex;
    gap: 16px;
    border-bottom: none;
  }

  .box img {
    width: 52px;
    height: 52px;
  }

  .box1 img {
    width: 52px;
    height: 52px;
  }

  .box3 img {
    width: 52px;
    height: 52px;
  }

  .box4 img {
    width: 52px;
    height: 52px;
  }
}

/* Ourworks */

.ourworks {
  width: 1440px;
  border-bottom: none;
  height: 620px;
  padding-left: 100px;
  margin-top: 120px;
  padding-top: 12px;
}

.ourworks__container {
  width: 1240px;
  height: 618px;
}
.ourworks__container h2 {
  margin-left: 0;
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;

  width: 687px;
}
.ourworks__container p {
  font-family: "PT Sans";
  margin-top: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 467px;
  color: #6b6b6c;
  margin-left: 0;
}

.card1 {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  margin-left: 0px;
}
.card1 h4 {
  margin-top: 24px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-left: 32px;
}
.card1 p {
  font-family: PT Sans;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  width: 291px;
  margin-bottom: 24px;
  margin-left: 32px;
}
.card1 a {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;

  color: #363738;
  text-decoration: none;
  border-bottom: 3px solid #ffce50;
}

.card2 h4 {
  margin-top: 24px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-left: 32px;
}

.card2 {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  margin-left: 0px;
}
.card2 a {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;

  color: #363738;
  text-decoration: none;
  border-bottom: 3px solid #ffce50;
}
.card2 p {
  font-family: PT Sans;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  width: 291px;
  margin-bottom: 24px;
  margin-left: 32px;
}

.card3 {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  margin-left: 0px;
}
.card3 a {
  margin-left: 32px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;

  color: #363738;
  text-decoration: none;

  /* border-bottom: 3px solid #ffce50; */
  border-width: 3px;
}
.card3 p {
  font-family: PT Sans;
  font-size: 16px;
  margin-top: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6b6b6c;
  width: 291px;
  margin-bottom: 24px;
  margin-left: 32px;
}

.card3 h4 {
  margin-top: 24px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-left: 32px;
}

.ourflexbox {
  margin-top: 57px;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .ourworks {
    margin-top: 260px;
    max-width: 768px;
    margin-left: 90px;
    padding-left: 19px;
  }

  .ourworks__container {
    max-width: 690px;
    height: 1036px;
  }
  .ourworks__container h2 {
    width: 687px;
    font-size: 44px;
  }
  .card1 {
    width: 690px;
    height: 422px;
  }
  .card1 h4 {
    font-size: 20px;
    width: 327px;
  }
  .card1 p {
    width: 667px;
    font-size: 16px;
  }
  .card1 img {
    width: 690px;
    overlay: 100px;
    height: 247px;
  }
  .ourflexbox {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .card2 {
    width: 690px;
    height: 422px;
  }
  .card2 img {
    width: 690px;
    overlay: 100px;
    height: 247px;
  }

  .card2 h4 {
    font-size: 20px;
    width: 327px;
  }
  .card2 p {
    width: 667px;
    font-size: 16px;
  }
  .card3 {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .ourworks {
    margin-top: 60px;
    max-width: 375px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 90px;
  }
  .ourworks__container {
    max-width: 345px;
    height: 542px;
  }
  .ourworks__container h2 {
    width: 344px;
    font-size: 28px;
  }
  .ourworks__container p {
    font-size: 15px;
    width: 345px;
    margin-top: 24px;
  }
  .card1 {
    width: 345px;
    height: 395px;
  }
  .card1 img {
    width: 345px;
    height: 222px;
  }

  .card1 h4 {
    width: 314px;
    font-size: 18px;
    margin-top: 12px;
  }
  .card1 p {
    width: 291px;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .card1 a {
    width: 92px;
    font-size: 15px;
  }

  .card2 {
    display: none;
  }
}

/* clients */

.clients {
  width: 1440px;
  height: 920px;

  padding-left: 100px;
  padding-right: 1000px;
}
.clients__container {
  width: 1240px;
  height: 917px;
  display: flex;

  background-color: #0b7572;
  margin-left: 50px;
  padding-left: 81px;
  margin-top: 212px;
}

.clients__container h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;

  line-height: 60px;
  margin-left: 0;
  padding-top: 100px;
  text-align: left;
  width: 477px;
  color: #fff;
}

.with375 {
  display: none;
}

.clients__container img {
  width: 652px;
  height: 757px;

  margin-right: 66px;
  margin-top: 85px;
}

.with768 {
  display: none;
}
.with375 {
  display: none;
}

@media screen and (max-width: 768px) {
  .clients {
    margin-top: 560px;
    max-width: 768px;
    /* margin-left: auto;
    margin-right: auto; */
    height: 975px;
    margin-left: 0;
  }
  .clients__container {
    max-width: 690px;
    height: 971px;

    display: flex;
    flex-direction: column;
  }
  .clients__container img {
    width: 647px;
    height: 695px;
    margin-top: 48px;
    margin-left: -60px;
  }

  .clients__container h2 {
    padding-top: 64px;
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .clients {
    margin-left: -60px;
    margin-top: -60px;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .clients__container {
    max-width: 376px;
    height: 780px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .clients__container img {
    display: none;
  }
  .clients__container .with375 {
    display: block;
    width: 345px;
    height: 645px;

    padding-left: 0;
    margin-top: 0;
  }
  .clients__container h2 {
    width: 345px;
    padding-top: 16px;
    font-size: 28px;
    margin-left: -60px;
  }
}

.steps {
  width: 1440px;
  height: 900px;
  padding-left: 100px;
  margin-top: 120px;
}

.steps__container {
  width: 1232px;
  height: 880px;
}

.steps__container h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  width: 687px;
  color: #363738;
  margin-left: 0;
}
.stepscard1 {
  width: 1183px;
  height: 245px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 96px;
  display: flex;
  align-items: center;
}
.stepscard1 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-left: 0;
  width: 258px;
  color: #363738;
}

span {
  border-bottom: 3px solid #ffce50;
}

.stepscard1 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 568px;
  margin-top: 24px;
  color: #6b6b6c;
}

.stepscard2 {
  width: 1183px;
  height: 245px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 96px;
  display: flex;
  align-items: center;
}

.stepscard2 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-left: 0;
  width: 258px;
  color: #363738;
}

.forborder {
  border-bottom: 3px solid #ffce50;
}

.stepscard2 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 568px;
  margin-top: 24px;
  color: #6b6b6c;
}

.stepscard3 {
  width: 1183px;
  height: 245px;
  box-shadow: 0px 4px 15px 0px #0000001f;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 96px;
  display: flex;
  align-items: center;
}

.stepscard3 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-left: 0;
  width: 258px;
  color: #363738;
}

.forborder {
  border-bottom: 3px solid #ffce50;
}

.stepscard3 p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 568px;
  margin-top: 24px;
  color: #6b6b6c;
}

.steps__cards--flex {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .steps__container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 60px;
    margin-top: 88px;
  }

  .steps__container h2 {
    width: 687px;
    font-size: 44px;
  }

  .stepscard1 {
    width: 693px;
    height: 245px;
  }

  .stepscard1 h4 {
    width: 287px;
  }
  .stepscard1 img {
    display: none;
  }

  .stepscard1 p {
    width: 532px;
    font-size: 16px;
  }

  .stepscard2 {
    width: 693px;
    height: 245px;
  }

  .stepscard2 h4 {
    width: 287px;
  }
  .stepscard2 img {
    display: none;
  }

  .stepscard2 p {
    width: 532px;
    font-size: 16px;
  }

  .stepscard3 {
    width: 693px;
    height: 245px;
  }

  .stepscard3 h4 {
    width: 287px;
  }
  .stepscard3 img {
    display: none;
  }

  .stepscard3 p {
    width: 532px;
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .steps__container {
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0px;
    margin-top: -230px;
  }

  .steps__container h2 {
    width: 344px;
    font-size: 28px;
  }
  .stepscard1 {
    width: 338px;

    padding-top: -60px;
    padding-left: 47px;
  }

  .stepscard1 span {
    border-bottom: none;
  }

  .stepscard1 p {
    width: 266px;
    font-size: 15px;
    height: 85px;
    margin-top: 16px;
  }

  .stepscard1 h4 {
    width: 284px;
    margin-top: -100px;
  }

  .stepscard2 {
    width: 338px;

    padding-top: -60px;
    padding-left: 47px;
  }

  .stepscard2 span {
    border-bottom: none;
  }

  .stepscard2 p {
    width: 266px;
    font-size: 15px;
    height: 85px;
    margin-top: 16px;
  }

  .stepscard2 h4 {
    width: 284px;
    margin-top: -100px;
  }

  .stepscard3 {
    width: 338px;

    padding-top: -60px;
    padding-left: 47px;
  }

  .stepscard3 span {
    border-bottom: none;
  }

  .stepscard3 p {
    width: 266px;
    font-size: 15px;
    height: 85px;
    margin-top: 16px;
  }

  .stepscard3 h4 {
    width: 284px;
    margin-top: -100px;
  }
}

/*   clients logo         */
.clientslogo {
  width: 1440px;
  height: 576px;
  padding-left: 100px;
}

.clientslogo__container {
  width: 1240px;
  padding-left: 60px;
  height: 576px;
}
.clientslogo__container h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  width: 687px;
  color: #363738;
  margin-left: 0;
  padding-top: 100px;
}

.pocatom {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}
.logo1 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 14px;
  color: #6b6b6c;
}

.logo1 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: 0;
}

.logo2 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  margin-left: 0;
}

.logo2 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}
.logo2 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #6b6b6c;
  margin-top: 14px;
}

.logo3 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: 0;
}

.logo3 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo3 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 14px;
  color: #6b6b6c;
}

.logo4 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: 0;
}
.logo4 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}
.logo4 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 14px;
  color: #6b6b6c;
}

.logo5 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 58px;
  margin-left: 0;
}

.logo5 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo5 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 14px;
  color: #6b6b6c;
}

.logo5 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  margin-left: 0;
}

.logo5 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo5 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 14px;
  color: #6b6b6c;
}

.line {
  height: 183px;
  width: 1px;
  top: 4963px;
  left: 403px;
  gap: 0px;
  background-color: #d7d7dd;

  margin-left: 0;
}

.flexbox1 {
  display: flex;
  width: 1212px;
  flex-wrap: no-wrap;
  gap: 24px;
  align-items: center;
  padding-top: 88px;
}
.flexbox {
  display: flex;
  width: 1212px;
  flex-wrap: no-wrap;
  gap: 24px;
  align-items: center;
  padding-top: 88px;
}

.logo6 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 32px;
  margin-left: 0;
}

.logo6 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo6 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  padding-top: 0;
  line-height: 21px;
  text-align: center;

  color: #6b6b6c;
}

.logo7 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-left: 0;
}

.logo7 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo7 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  padding-top: 0;
  line-height: 21px;
  text-align: center;
  color: #6b6b6c;
}

.logo8 {
  width: 184px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  margin-left: 0;
}

.logo8 h4 {
  width: 184px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.logo8 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  padding-top: 0;
  line-height: 21px;
  text-align: center;
  color: #6b6b6c;
}

@media screen and (max-width: 768px) {
  .clientslogo__container {
    width: 687px;
    margin-left: 60px;
    margin-top: -24px;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .clientslogo__container h2 {
    width: 687px;
    font-size: 28px;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5,
  .logo6,
  .logo7,
  .logo8 {
    width: 184px;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5,
  .logo6,
  .logo7,
  .logo8 h4 {
    width: 127px;
    font-size: 20px;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5,
  .logo6,
  .logo7,
  .logo8 p {
    font-size: 14px;
    width: 225px;
  }

  .flexbox,
  .flexbox1 {
    display: flex;
    flex-direction: column;
    gap: 210px;
  }

  .flexbox3 {
    display: flex;
    gap: 185px;
  }
  .line {
    display: none;
  }

  .logo5 p {
    font-size: 14px;
  }
  .logo8 p {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .clientslogo__container {
    width: 345px;
    margin-left: -60px;
    margin-top: -24px;
    /* margin-left: auto;
    margin-right: auto; */
  }

  .clientslogo__container h2 {
    width: 345px;
    font-size: 24px;
  }
  .flexbox3 {
    gap: 40px;
  }

  .logo3,
  .logo4,
  .logo7,
  .logo8 {
    display: none;
  }

  .logo1,
  .logo2,
  .logo5,
  .logo6 {
    width: 173px;
  }

  .logo1,
  .logo2,
  .logo5,
  .logo6 h4 {
    width: 173px;
    font-size: 18px;
  }
  .logo1,
  .logo2,
  .logo5,
  .logo6 p {
    width: 173px;
    font-size: 14px;
  }

  .logo5 {
    display: flex;
    flex-direction: column;
    gap: 66px;
  }
  .logo6 {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
}

/* Our team */

.ourteam {
  width: 1440px;
  height: 800px;
  padding-left: 100px;
  margin-top: 130px;
  padding-top: 130px;
}

.ourteam__container {
  width: 1240px;
  height: 799px;
  margin-left: 90px;
}
.ourteam__container h2 {
  font-family: "Exo 2";
  width: 687px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  margin-left: 0;
  margin-bottom: 72px;
  color: #363738;
}

.teambox {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
}

.teambox:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-left: -110px;
  width: 165px;
  color: #363738;
}

.teambox p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 172px;
  margin-left: -110px;
  margin-top: 12px;
  color: #6b6b6c;
}

.links {
  width: 100px;
  display: flex;
  align-items: center;
  gap: -8px;
  padding-left: 0px;
  margin-left: -140px;
  margin-top: 35px;
}

.span {
  border-bottom: 3px solid #ffce50;
}

.teambox1 {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;

  align-items: center;
}

.teambox1:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox1 img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox1 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 165px;
  color: #363738;
  margin-left: -140px;
}

.teambox1 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: -140px;
  width: 172px;
  margin-top: 12px;
  color: #6b6b6c;
}
.teambox1 .links {
  margin-left: -170px;
}
.ourbox1,
.ourbox2,
.ourbox3 {
  display: flex;
  gap: 30px;
}

.teambox2 {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;

  align-items: center;
}

.teambox2:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox2 img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox2 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 165px;
  color: #363738;
  margin-left: -140px;
}

.teambox2 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: -140px;
  width: 172px;
  margin-top: 12px;
  color: #6b6b6c;
}
.teambox2 .links {
  margin-left: -170px;
}

.teambox3 {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;

  align-items: center;
}

.teambox3:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox3 img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox3 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 165px;
  color: #363738;
  margin-left: -140px;
}

.teambox3 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: -140px;
  width: 172px;
  margin-top: 12px;
  color: #6b6b6c;
}
.teambox3 .links {
  margin-left: -170px;
}

.teambox4 {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;

  align-items: center;
}

.teambox4:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox4 img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox4 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 165px;
  color: #363738;
  margin-left: -140px;
}

.teambox4 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: -140px;
  width: 172px;
  margin-top: 12px;
  color: #6b6b6c;
}
.teambox4 .links {
  margin-left: -170px;
}

.teambox5 {
  width: 554px;
  height: 210px;
  margin-left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 20px 0px #00000026;
  border-radius: 0px 10px 10px 0px;
  display: flex;

  align-items: center;
}

.teambox5:before {
  content: "";
  width: 51px;
  display: inline-block;
  height: 210px;
  background-color: #0b7572;
  border-radius: 10px 0px 0px 10px;
}
.teambox5 img {
  margin-left: 32px;
  padding-top: -32px;
  margin-bottom: 32px;
}
.teambox5 h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 165px;
  color: #363738;
  margin-left: -140px;
}

.teambox5 p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: -140px;
  width: 172px;
  margin-top: 12px;
  color: #6b6b6c;
}
.teambox5 .links {
  margin-left: -170px;
}

.ourbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .ourteam {
    max-width: 768px;
  }
  .ourteam__container {
    max-width: 690px;
    margin-top: 420px;
  }
  .ourbox3 {
    display: none;
  }
  .ourbox1 {
    display: flex;
    gap: 30px;
  }

  .teambox p {
    width: 175px;
    font-size: 14px;
  }

  .teambox {
    width: 300px;
    height: 289px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    padding-left: 30px;
    border-left: 30px solid #0b7572;
    border-radius: 10px;
  }

  .teambox h4 {
    width: 165px;
    font-size: 20px;
    margin-top: 24px;
  }

  .teambox:before {
    display: none;
  }

  .img1 {
    width: 100px;
    margin-top: 12px;
    height: 100px;
  }

  .teambox img {
    margin-left: -20px;
  }

  .limks {
    display: flex;
    align-items: center;
  }
  .links a {
    width: 22px;
    height: 22px;
    margin-top: -12px;
    margin-left: 60px;
  }

  .ourbox2 {
    display: flex;
    gap: 30px;
  }

  .teambox1 p {
    width: 175px;
    font-size: 14px;
  }

  .teambox1 {
    width: 300px;
    height: 289px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    padding-left: 30px;
    border-left: 30px solid #0b7572;
    border-radius: 10px;
    padding-left: 62px;
  }

  .teambox1 h4 {
    width: 165px;
    font-size: 20px;
    margin-top: 24px;
  }

  .teambox1:before {
    display: none;
  }

  .img1 {
    width: 100px;
    margin-top: 12px;
    height: 100px;
  }

  .teambox1 img {
    margin-left: -20px;
  }

  .links {
    display: flex;
    align-items: center;
  }
  .links a {
    width: 22px;
    height: 22px;
    margin-top: -12px;
    margin-left: 60px;
  }

  .teambox2 p {
    width: 175px;
    font-size: 14px;
  }

  .teambox2 {
    width: 300px;
    height: 289px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    padding-left: 30px;
    border-left: 30px solid #0b7572;
    border-radius: 10px;
    padding-left: 62px;
  }

  .teambox2 h4 {
    width: 165px;
    font-size: 20px;
    margin-top: 24px;
  }

  .teambox2:before {
    display: none;
  }

  .ourbox {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .img1 {
    width: 100px;
    margin-top: 12px;
    height: 100px;
  }

  .teambox2 img {
    margin-left: -20px;
  }

  .links {
    display: flex;
    align-items: center;
  }
  .links a {
    width: 22px;
    height: 22px;
    margin-top: -12px;
    margin-left: 60px;
  }

  .teambox3 p {
    width: 175px;
    font-size: 14px;
  }

  .teambox3 {
    width: 300px;
    height: 289px;
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    padding-left: 30px;
    border-left: 30px solid #0b7572;
    border-radius: 10px;
    padding-left: 62px;
  }

  .teambox3 h4 {
    width: 165px;
    font-size: 20px;
    margin-top: 24px;
  }

  .teambox3:before {
    display: none;
  }

  .img1 {
    width: 100px;
    margin-top: 12px;
    height: 100px;
  }

  .teambox3 img {
    margin-left: -20px;
  }

  .links {
    display: flex;
    align-items: center;
  }
  .links a {
    width: 22px;
    height: 22px;
    margin-top: -12px;
    margin-left: 60px;
  }

  .ourbox {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }
}

@media screen and (max-width: 576px) {
  .ourteam__container {
    max-width: 375px;
    margin-left: 0;
    margin-top: -120px;
  }

  .ourteam__container h2 {
    width: 345px;
    font-size: 28px;
  }

  .teambox3,
  .teambox4,
  .teambox5 {
    display: none;
  }

  .ourbox1,
  .ourbox2 {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .teambox {
    width: 345px;
    height: 156px;

    border-radius: 10px;

    display: flex;
    gap: 12px;
  }
  .teambox h4 {
    width: 165px;
    font-size: 16px;
    margin-top: -130px;
    margin-left: 100px;
  }
  .teambox p {
    margin-left: 100px;
  }
  .links {
    margin-left: 50px;
  }

  .teambox1 {
    width: 345px;
    height: 156px;

    border-radius: 10px;

    display: flex;
    gap: 12px;
  }
  .teambox1 h4 {
    width: 165px;
    font-size: 16px;
    margin-top: -130px;
    margin-left: 70px;
  }
  .teambox1 p {
    margin-left: 70px;
  }
  .links {
    margin-left: 50px;
  }

  .teambox2 {
    width: 345px;
    height: 156px;

    border-radius: 10px;

    display: flex;
    gap: 12px;
  }
  .teambox2 h4 {
    width: 165px;
    font-size: 16px;
    margin-top: -130px;
    margin-left: 70px;
  }
  .teambox2 p {
    margin-left: 70px;
  }
  .teambox2 .links {
    margin-left: 50px;
    width: 20px;
    height: 20px;
  }

  .teambox1 .links {
    margin-left: 60px;
  }

  .teambox1 img {
    margin-left: -52px;
  }
  .teambox2 img {
    margin-left: -52px;
  }
}

/* naw contact */

.nashcontact {
  width: 1440px;
  height: 540px;
  padding-left: 100px;
  margin-top: 130px;
}
.nashcontact__container {
  width: 1240px;
  padding-top: 130px;
  height: 507px;
}
.nashcontact__container h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  margin-left: 90px;
  width: 687px;
  color: #363738;
}

.flxx p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
  width: 172px;
  margin-left: 0;
}

.flxx h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
}

.label1 {
  display: flex;
  width: 225px;
  gap: 36px;
  margin-left: 90px;
}

.flxx p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
  width: 172px;
  margin-left: 0;
}

.flxx h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
}

.label2 {
  display: flex;
  width: 225px;
  gap: 36px;
  margin-left: 90px;
}

.forflexx {
  display: flex;
  align-items: center;
  gap: 198px;
  margin-top: 72px;
}

.flxx p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
  width: 172px;
  margin-left: 0;
}

.flxx h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
  width: 188px;
}

.label3 {
  display: flex;
  width: 225px;
  gap: 36px;
  margin-left: 90px;
}

.flxx p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;

  margin-left: 0;
}

.flxx h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
}

.label4 {
  display: flex;
  width: 225px;
  gap: 36px;
  margin-left: 90px;
}

.boxs {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 304px;
  gap: 44px;
  margin-left: 60px;
}

.about {
  width: 794px;
  height: 383px;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 48px;
  background-color: #f9f9fb;
}
.flexdiv {
  display: flex;
  align-items: center;
  margin-left: 0;
  gap: 56px;
}
.flexdiv p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 175px;
  margin-left: 0;
  color: #6b6b6c;
}
.flexdiv h4 {
  width: 283px;
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-left: -100px;
  color: #363738;
}

.lines {
  width: 674px;
  height: 1px;
  background-color: #e9eaf2;
  margin-left: 0;
  margin-top: 8px;
}

.flxdiv {
  display: flex;
  align-items: center;
  margin-left: 0;
  /* gap: 56px; */
  margin-top: 32px;
}
.flxdiv p {
  margin-left: 0;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 175px;
  color: #6b6b6c;
}

.flxdiv h4 {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  width: 283px;
  color: #363738;
  margin-left: 0;
}
.adress {
  display: flex;
  align-items: center;
  margin-left: 0;
  gap: 56px;
  margin-top: 32px;
}
.adress p {
  margin-left: 0;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 175px;
  color: #6b6b6c;
}
.adress h4 {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #363738;
  width: 443px;
}

@media screen and (max-width: 768px) {
  .nashcontact__container {
    max-width: 690px;

    padding-left: 0px;
    margin-left: 60px;
    margin-top: 360px;
  }

  .forflexx {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 48px;
  }

  .boxs {
    margin-left: 0;
  }

  .about {
    margin-left: 60px;
    max-width: 690px;
    font-size: 16px;
  }
  .lines {
    width: 634px;
    margin-left: 0;
  }
  .flxdiv {
  }
}

@media screen and (max-width: 576px) {
  .nashcontact__container {
    max-width: 375px;
    margin-left: -30px;
    margin-top: -360px;
  }
  .nashcontact__container h4 {
    width: 344px;
    font-size: 18px;
  }

  .forflexx {
    display: flex;
    flex-direction: column;
  }

  .about {
    width: 345px;
    height: 568px;
  }

  .lines {
    margin-left: 0;
    width: 297px;
  }

  .flexdiv {
    display: flex;
    flex-direction: column;
  }

  .flexdiv p {
    width: 175px;
    font-size: 15px;
  }
  .flexdiv h4 {
    margin-top: -50px;
    width: 286px;
    font-size: 16px;
    margin-left: 0;
  }

  .flxdiv {
    display: flex;
    flex-direction: column;
  }
  .flxdiv p {
    width: 175px;
    font-size: 15px;
  }
  .flxdiv h4 {
    margin-top: 10px;
    width: 286px;
    font-size: 16px;
    margin-left: 0;
  }

  .adress {
    display: flex;
    flex-direction: column;
  }

  .adress h4 {
    width: 286px;
    font-size: 16px;
    margin-top: -50px;
  }
}

/* Image */

.imaage {
  width: 1440px;
  height: 667px;
  margin-top: 146px;
}
.imaage__container {
  width: 1240px;
  padding-left: 100px;
  background-image: url("/images/bottomlyimg.png");
  height: 667px;
  margin-top: 46px;
  margin-left: 190px;
}

@media screen and (max-width: 768px) {
  .imaage__container {
    width: 690px;
    height: 405px;
    margin-top: 500px;
    padding-left: 0px;
    margin-left: 190px;
    background-image: url("/images/bottomimg768.png");
  }
}

@media screen and (max-width: 576px) {
  .imaage__container {
    width: 327px;
    height: 196px;
    margin-left: 140px;
    background-image: url("/images/bottomimg576.png");
    margin-top: 660px;
  }
}






/* footer */


.footer{
  width: 1440px;
  height: 365px;
  margin-top: 166px;
  margin-bottom: 100px;
}
.footerflex{
  width: 1240px;
  display: flex;
  margin-bottom: 80px;
}

.footer__container{
  width: 1440px;
  height: 365px;
  background: #0B7572;
  margin-left: 60px;
padding-left: 95px;
padding-top: 59px;

}

.footer__container h1{
  font-family: 'Familjen Grotesk';
font-size: 60px;
font-weight: 500;
line-height: 90px;
letter-spacing: 0.16em;
text-align: left;
color: #fff;

}

.block1{
  width: 133px;
  height: 133px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 0;
}
.block1 a{
  text-decoration: none;
  font-family: 'Exo 2';
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #fff;
  margin-left: 0;
  
}


.block2{
  margin-top: 0;
  width: 120px;
  height: 160px;display: flex;
  flex-direction: column;
  gap: 25px
  ;
}
.block2 a{
  text-decoration: none;
  font-family: 'Exo 2';
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #fff;
  margin-left: 0;
  
}


.block3{

}

.logos{
  width: 100px;
  display: flex;
  gap:15px ;
  margin-left: 0;
}

.block3 button{
  width: 271px;
  height: 42px;
  color: #fff;
  border: none;
  background: #FF9619;
  font-family: "PT sans";
font-size: 13px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
padding-left: 45px;
cursor: pointer;
text-transform: uppercase;

}

.block3{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.block3 a{
  text-decoration: none;
  font-family: 'Exo 2';
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: center;
  color: #fff;
  margin-left: 0;
  
}
.footer__container .a{
  width: 374px;
  font-family: 'Exo 2';
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.16em;
text-align: center;
color: #fff;
text-decoration: none;
margin-left: 433px;

}


@media screen  and (max-width:768px) {


  .footer__container{
    width: 768px;
    height: 187px;
    padding-left: 0;
    padding-top: 0;
    margin-left: 130px;
    margin-top: -360px;
  }
  
  .footer__container h1{
    font-size: 50px;
    width: 96px;

  }
  .footerflex{
    width: 160px;
    
    margin-left: 0;
    display: flex;
    gap: 84px;

  }


  .block1{
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    margin-top: 16px;
  }
  .block2{
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 0px;
    margin-top: 16px;
  }
  .logos{
    width: 100px;
    gap: 18px;
  }

.block3{
  
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 0px;
  margin-top: 16px;
}

.block3 button{
  width: 143px;
  height: 21px;
  font-size: 6px;
  padding-left: 12px;
}
.a{
  margin-top: 8px;

}

}
